# Node.js modules
node_modules
npm-debug.log
yarn-error.log

# Next.js build output
.next

# 환경 설정 파일
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# 로그 파일
logs
*.log
*.log.*

# Docker 관련 파일
Dockerfile
.dockerignore

# Git 관련 파일
.git
.gitignore

# IDE / 편집기 관련 파일
.vscode
.idea

# MacOS, Linux 시스템 파일
.DS_Store
*.swp

# 테스트 파일
tests